<!DOCTYPE html>
<html>
<head>
    <title>Devices</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>

<div class="container mt-5">

    <h2>Device Management</h2>

    <form method="POST">

                <hr>

        <h3>Available Devices</h3>

        <table class="table table-bordered">

            <tr>
                <th>ID</th>
                <th>Device Name</th>
                <th>Device Type</th>
                <th>Status</th>
            </tr>

            {% for device in devices %}

            <tr>
                <td>{{ device.id }}</td>
                <td>{{ device.device_name }}</td>
                <td>{{ device.device_type }}</td>
                <td>{{ device.status }}</td>
            </tr>

            {% endfor %}

        </table>

        <div class="mb-3">
            <label>Device Name</label>
            <input type="text" name="device_name" class="form-control">
        </div>

        <div class="mb-3">
            <label>Device Type</label>
            <input type="text" name="device_type" class="form-control">
        </div>

        <button class="btn btn-primary">
            Add Device
        </button>

    </form>

</div>

</body>
</html>