<!DOCTYPE html>
<html>
<head>
    <title>Rooms</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>

<div class="container mt-5">

    <h2>Room Management</h2>

    <form method="POST">

                <hr>

        <h3>Available Rooms</h3>

        <table class="table table-bordered">

            <tr>
                <th>ID</th>
                <th>Room Name</th>
                <th>Action</th>
            </tr>

            {% for room in rooms %}

            <tr>
                <td>{{ room.id }}</td>
                <td>{{ room.room_name }}</td>

                <td>
                    <a href="/delete_room/{{ room.id }}"
                    class="btn btn-danger btn-sm">
                        Delete
                    </a>
                </td>
            </tr>

            {% endfor %}

        </table>

        <div class="mb-3">
            <label>Room Name</label>
            <input type="text" name="room_name" class="form-control">
        </div>

        <button class="btn btn-primary">
            Add Room
        </button>

    </form>

</div>

</body>
</html>